@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    .navListItem {
        @apply list-none;
        @apply inline;
        @apply m-4;
        @apply font-montserrat;
        @apply font-normal;        
    }
    .link {
        @apply transition;
        @apply ease-in-out;
        @apply duration-300;
    }
    .link:hover{ 
       @apply text-teal;       
    }
    .link svg {
        @apply inline;
    }
    .socialLinks {
        @apply list-none;
        @apply inline;
        @apply m-3;
        @apply text-whiteish;
        @apply text-xl
    }
    .backgraound {
        @apply bg-darkBackground;        
        /* background:linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(25,52,37,1) 87%, rgba(19,54,34,1) 100%); */
        /* background: linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(25,52,37,1) 87%, rgba(13,42,25,1) 100%); */


        /* background: linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(25,52,37,1) 99%);
         */
        /* background: linear-gradient(180deg, rgba(2,10,6,1) 57%, rgba(26,42,33,1) 100%); */

        background: linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(11,20,15,1) 100%);
        @apply bg-no-repeat;
        @apply bg-fixed;
    }

    
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
}
  
html {
    font-family: Oswald, Arial, sans-serif;
}
  