@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    #root{
        @apply m-0;
    }
    .navListItem {
        @apply list-none mx-4 my-2 font-montserrat font-normal; 
    }
    .navListItem:first-child {
        @apply ml-0;
    }
    .link {
        @apply transition-colors ease-in duration-300 cursor-pointer;
    }
    .link:hover, .active{ 
       @apply text-teal cursor-pointer;       
    }
    .link svg {
        @apply inline;
    }
    .socialLinks {
        @apply list-none inline m-3 text-whiteish text-xl;
    }
    .background {
        @apply bg-darkBackground;        
        /* background:linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(25,52,37,1) 87%, rgba(19,54,34,1) 100%); */
        /* background: linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(25,52,37,1) 87%, rgba(13,42,25,1) 100%); */


        /* background: linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(25,52,37,1) 99%);
         */
        /* background: linear-gradient(180deg, rgba(2,10,6,1) 57%, rgba(26,42,33,1) 100%); */

        background: linear-gradient(180deg, rgba(2,10,6,1) 0%, rgba(11,20,15,1) 100%);
        @apply bg-no-repeat bg-fixed;
    }
    .bulletList {
        @apply m-2;
    }
    .bulletList li {
        @apply list-disc my-2 font-montserrat text-whiteish text-xs;        
    }
    .sectionHeader {
        @apply text-teal font-light font-montserrat text-xl mb-2;
    }

    
    
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    
}
  
html {
    font-family: Oswald, Arial, sans-serif;
}
  